<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'events' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Events">
  <ion-nav-buttons side="left">
    <a class="button-clear button" href="#/side-menu">
      <i class='icon ion-navicon'></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button-clear button" href="#/events/new">
      <i class='icon ion-plus'></i>
    </a>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>
      <div class="card" ng-repeat="event in events">
        <ion-item type="item item-text-wrap" href="#/tab/event/{{event.id}}">
          <h3>{{event.title}}</h3>
          <p>{{event.description}}</p>
          <p>{{event.location}}</p>
          <p>{{event.starts_at}}</p>
        </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
