<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'events' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Events">
  <ion-nav-buttons side="left">
    <a class="button-clear button" href="#/side-menu">
      <i class='icon ion-navicon'></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" href="#/events/new">
      <i class='icon ion-plus'></i>
    </a>
  </ion-nav-buttons>
  <ion-content>

    <div class="list card" ng-repeat="event in events">
      <a class="item item-thumbnail-left item-text-wrap" href="#tab/events/{{event.id}}">
        <img src="{{event.pic_url}}">
        <h3>{{event.title}}</h3>
        <p>
          <i class="icon ion-ios7-location"></i> {{event.location}}<br>
          {{event.starts_at}}
        </p>
      </a>
      <div class="item item-avatar">
        <img src="{{event.user_pic_url}}">
        <h3>Host: {{event.user_name}}</h3>
        <p><i class="icon ion-pricetags"></i> {{event.rsvp_count}} Rspvs</p>
      </div>
    </div>

  </ion-content>
</ion-view>

