<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'ideas' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="{{tribe.name}}">
  <ion-nav-buttons side="left">
    <a class="button-clear button" href="#/side-menu">
      <i class='icon ion-navicon'></i>
    </a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button" href="#/tab/ideas/new">
      <i class='icon ion-plus'></i>
    </a>
  </ion-nav-buttons>
  <ion-content>

    <ion-list>

      <a ng-repeat="idea in ideas" class="item item-avatar item-text-wrap" type="item-text-wrap" href="#/ideas/{{idea.id}}">
        <img src="{{idea.user_pic_url}}">
        <h3>{{idea.title}}</h3>
        <p>{{idea.description}}</p>
      </a>
      
    </ion-list>

  </ion-content>
</ion-view>
