<!-- 
  This template gets placed in the Pet tab's <ion-nav-view> directive.
  It was wired up in the app config (app.js) 
  The 'members' data comes from its $scope within PetIndexCtrl (controller.js)
-->
<ion-view title="Members">
  <ion-nav-buttons side="left">
    <a class="button-clear button" href="#/side-menu">
      <i class='icon ion-navicon'></i>
    </a>
  </ion-nav-buttons>
  
  <ion-content>
    <div class="item item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>

    <ion-list>
      <ion-item ng-repeat="member in members" class="item item-thumbnail-left item-avatar" type="item-text-wrap" href="#/members/{{member.id}}">
        <img src="{{member.pic_url}}">
        <h3>{{member.name}}</h3>
        <p>{{member.interests}}</p>
      </ion-item>
      
    </ion-list>

  </ion-content>
</ion-view>
